body{
    margin: 0 auto;
    background-color: #16161A;
}

.header{
    background-color: #16161A;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0px;
}

.nav{
    position: fixed;
    top: 80px;
    width: 100%;
}

.nav a{
    float: left;
    display: block;
    background-color:#7F5AF0;
    color: white;
    text-align: center;
    padding: 10px 16px;
    width: 31.06%;
    text-decoration: none;
    font-size: 20px;
}

.nav a:active{
    background-color: rgb(25, 61, 182);
    color: white;
}

.nav a:hover{
    background-color: rgb(85, 120, 235);
    color:white;
}

.slides{
    background-color: #3FA996;
    width: 85%;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    top: 130px;
    height: 300px;
}

.statistics p{
    float: left;
    display: inline;
    width: 32%;
    height: 150px;
    padding-top: 20px;
    margin-left: 6px;
    text-align: center;
    background-color: rgb(64, 149, 219);
}

footer{
    background-color: #7F5AF0;
    color: white;
    font-size: 15px;;
    height: 100px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}